@import "./global_variables.scss";

.fieldsWrapper {
  display: flex;
  flex-direction: row;

  input {
    height: 48px;
    max-height: 50px;
    font-size: 14px;
    padding: 15px 20px;
    border: none;
    box-shadow: 1px 1px 1px 1px rgba(71, 71, 71, 0.52);
  }

  input:focus {
    background-color: rgb(192, 192, 192);
    outline: none;
  }

  input:last-child {
    box-shadow: none;
  }
  div {
    border-radius: 0px 0px 0px 0px;
  }

  ul {
    min-width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    background-color: white;
    margin: 0;
    padding: 0;
    border-radius: 0px 0px 5px 5px;
    // margin-top: -15px;

    li:hover {
      background-color: rgb(192, 192, 192) !important;
    }
    li {
      padding: 5px 10px;

      cursor: pointer;
      width: 100%;
      background-color: white;
      font-size: 16px;
      text-align: left;
      list-style-type: none;
    }
  }
}

.firstField {
  border-radius: 10px 0px 0px 10px;
  border-right: 1px solid rgba(202, 200, 200, 0.739) !important;
}

.searchButton {
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.287);
  border-radius: 0px 10px 10px 0px;
  height: 48px;
  width: 50px;
  padding-bottom: 15px;
  padding-top: 15px;

  background-color: $primary-blue;
}

@media screen and (max-width: 1193px) {
  .fieldsWrapper {
    flex-direction: column;
    gap: 5px;
    margin: auto;

    input {
      border-radius: 10px !important;
      width: 300px;
    }

    .searchButton {
      width: 300px;
      border-radius: 10px;
    }
  }
}
